@model WebApplication2.Models.Pacient

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-2" style=" margin-top: 30px;">
        <a href="@Url.Action("Index" )" class = "btn btn-default btn-lg"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Назад
        </a>
            
    </div>
    @{
        var today = DateTime.Today;

        var a = (today.Year * 100 + today.Month) * 100 + today.Day;
        var b = (Model.birthday.Year * 100 + Model.birthday.Month) * 100 + Model.birthday.Day;

        var age = (a - b) / 10000;
    }
    <div class="col-md-6"><h2>@Html.DisplayFor(model => model.name) (@Model.birthday.Date.ToShortDateString() @if (age > 0)
    {
        <span>, @age лет </span>
    })</h2>


    <h4>@Html.DisplayNameFor(model => model.doctor): @Html.DisplayFor(model => model.doctor.name)</h4>
    
    </div>
        @if (Model.visits.Count==0 || !(Model.visits.First().date.Equals(DateTime.Today)))
        {
            <span  style=" margin-top: 30px;margin-right: 30px;" class="pull-right">
                <a href="@Url.Action("Create", "visitDates", new {id=Model.ID })" class="btn btn-default btn-primary btn-lg"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Начать прием</a>
            </span>
    }
</div>
  <hr /> 
@Html.Partial("~/Views/Pacients/visitsView.cshtml", Model)


