
@model WebApplication2.Models.Pacient
@using WebApplication2.Models

<script>
    function Delete(controller, id) {
        if (confirm("Вы действительно хотите безвозвратно это удалить?")) {
            $('#' + controller + 'Div' + id).load('/' + controller + '/pacientDelete/' + id);
            $('.' + controller + 'Div' + id).load('/' + controller + '/pacientDelete/' + id);
        }
    }
    function Cancel(controller, id) {
        if (confirm("Лекарство будет отменено, но оно останется в истории приемов. Продолжаем?")) {
            $("#" + controller + "Tab").find('#' + controller + 'Div' + id).load('/' + controller + '/pacientCancel/' + id);
            $("#" + controller + "Tab").find('.' + controller + 'Div' + id).load('/' + controller + '/pacientCancel/' + id);
        }
    }
    function CancelEdit(controller, id, mce) {
        if (mce==true)
        {
            tinyMCE.EditorManager.execCommand('mceRemoveEditor', true, controller + 'Text' + id);
        }
        $.get('/' + controller + '/pacientDetails/' + id, function (data) {
            res = $.parseHTML('<div>' + data + '</div>');
            if ($(res).find('.' + controller + 'Div' + id).html() != "") {
                var content = $(res).find('.' + controller + 'Div' + id).html();
            }
            else {
                var content = $(res).find('#' + controller + 'Div' + id).html();
            }
            $('#' + controller + 'Div' + id).html(content);
            $('.' + controller + 'Div' + id).html(content);
        });
       
        
    }
    function LoadEditForm(controller, id) {
        if ($("#" + controller + "Tab").hasClass("active"))
        {
            $("#" + controller + "Tab").find('#' + controller + 'Div' + id).load('/' + controller + '/pacientEdit/' + id);
            $("#" + controller + "Tab").find('.' + controller + 'Div' + id).load('/' + controller + '/pacientEdit/' + id);
        }
        else
        {
            $("#dateTab").find('#' + controller + 'Div' + id).load('/' + controller + '/pacientEdit/' + id);
            $("#dateTab").find('.' + controller + 'Div' + id).load('/' + controller + '/pacientEdit/' + id);
        }
        
    }
    function PostEditForm(controller, id, mce) {
        if (mce == true) {
            tinyMCE.triggerSave();
            tinyMCE.EditorManager.execCommand('mceRemoveEditor', true, controller + 'Text' + id);
        }
        $.ajax({
            type: "POST",
            url: '/' + controller + '/pacientEdit/' + id,
            data: $('.' + controller + 'Edit' + id).serialize() + $('#' + controller + 'Edit' + id).serialize(), // serializes the form's elements.
            success: function (data) {
                res = $.parseHTML('<div>' + data + '</div>');
                if ($(res).find('.' + controller + 'Div' + id).html() != "")
                {
                    var content = $(res).find('.' + controller + 'Div' + id).html();
                }
                else {
                    var content = $(res).find('#' + controller + 'Div' + id).html();
                }
                $('#' + controller + 'Div' + id).html(content);
                $('.' + controller + 'Div' + id).html(content);
            }
        });

    }
    function PostDateCreateForm(controller, id, mce) {
        if (mce == true) tinyMCE.triggerSave();
        $.ajax({
            type: "POST",
            url: '/' + controller + '/CreateByDate/',
            data: $('#' + controller + 'DateCreate').serialize(), // serializes the form's elements.
            success: function (data) {
                res = $.parseHTML('<div><div>' + data + '</div></div>');
                $('#' + controller + 'Tab').find('.tabContent').first().prepend($(res).find('div').first().html());
                $('#' + controller + 'DateCreate').trigger('reset');
            }
        });

    }
    function PostCreateForm(controller, num, mce) {
        if (mce == true) tinyMCE.triggerSave();
        $.ajax({
            type: "POST",
            url: '/' + controller + '/Create/',
            data: $('#' + controller + 'Create').serialize(), // serializes the form's elements.
            success: function (data) {
                res = $.parseHTML('<div><div>' + data + '</div></div>');
                $('#documentData' + num).prepend($(res).find('div').first().html());
                $('#' + controller + 'Tab').find('.tabContent').first().prepend($(res).find('div').first().html());
                $('#' + controller + 'Create').trigger('reset');
            }
        });

    }

</script>

<div role="tabpanel">
    <ul class="nav  nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#dateTab" aria-controls="dateTab" role="tab" data-toggle="tab">Приемы</a></li>
        <li role="presentation"><a href="#InfoTab" aria-controls="InfoTab" role="tab" data-toggle="tab">Персональные данные</a></li>
        <li role="presentation"><a href="#AnamnesisTab" aria-controls="AnamnesisTab" role="tab" data-toggle="tab">Анамнез</a></li>
        <li role="presentation"><a href="#DebutsTab" aria-controls="DebutsTab" role="tab" data-toggle="tab">Дебют</a></li>
        <li role="presentation"><a href="#DiagnosesTab" aria-controls="DiagnosesTab" role="tab" data-toggle="tab">Диагнозы</a></li>
        <li role="presentation"><a href="#SyndromesTab" aria-controls="SyndromesTab" role="tab" data-toggle="tab">Приступы</a></li>
        <li role="presentation"><a href="#ResearchesTab" aria-controls="ResearchesTab" role="tab" data-toggle="tab">Исследования</a></li>
        <li role="presentation"><a href="#AnalysesTab" aria-controls="AnalysesTab" role="tab" data-toggle="tab">Анализы</a></li>
        <li role="presentation"><a href="#AssigmentsTab" aria-controls="AssigmentsTab" role="tab" data-toggle="tab">Назначения</a></li>
        <li role="presentation"><a href="#NeurostatusTab" aria-controls="NeurostatusTab" role="tab" data-toggle="tab">Невростатус</a></li>
        <li role="presentation"><a href="#ReviewsTab" aria-controls="ReviewsTab" role="tab" data-toggle="tab">Резюме</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in" id="dateTab">
            @if (Model.visits.Count == 0)
            {
                <div class="bs-callout bs-callout-success">
                    <p>Пациент еще не был на приеме.</p>
                </div>
            }
            @if (Model.visits.Count != 0 && Model.visits.First().date.Equals(DateTime.Today))
            {
                @Html.Partial("~/Views/Pacients/documentList.cshtml", new documentList { num = 1, add = true, visit = Model.visits.First() })
            }
            @{
                int num = 9;
            }
            @foreach (var visit in Model.visits)
            {
                if (visit.date.Equals(DateTime.Today))
                {
                    continue;
                }
                @Html.Partial("~/Views/Pacients/documentList.cshtml", new documentList { num = num, add = false, visit = visit })
                num = num + 8;

            }
        </div>
        <div role="tabpanel" class="tab-pane fade" id="InfoTab">
                @Html.Partial("~/Views/Pacients/PersonalData.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="AnamnesisTab">
            @Html.Partial("~/Views/Pacients/anamnesisList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="DebutsTab">
            @Html.Partial("~/Views/Pacients/debutList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="DiagnosesTab">
            @Html.Partial("~/Views/Pacients/diagnosisList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="SyndromesTab">
            @Html.Partial("~/Views/Pacients/syndromList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="ResearchesTab">
            @Html.Partial("~/Views/Pacients/researchList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="AnalysesTab">
            @Html.Partial("~/Views/Pacients/analysisList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="AssigmentsTab">
            @Html.Partial("~/Views/Pacients/assigmentList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="NeurostatusTab">
            @Html.Partial("~/Views/Pacients/neurostatusList.cshtml", Model)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="ReviewsTab">
            @Html.Partial("~/Views/Pacients/reviewList.cshtml", Model)
        </div>
        
    </div>
    
</div>


