
@model WebApplication2.Models.newAnalysis
@using WebApplication2.Models
@using (Html.BeginForm("Create", "Analyses", FormMethod.Post, new { id = "AnalysesCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.visitID)
    @Html.HiddenFor(model => model.num)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <strong>
                    @Html.DropDownListFor(model => model.analysis.type.ID, new SelectList(Model.eventTypes, "ID", "name"), new { @class = "form-control" })
                </strong>
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.analysis.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.analysis.description, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <a onclick="PostCreateForm('Analyses', @Model.num)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-4">

            </div>
            <div class="col-md-6  alert alert-info">
                <h4><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @Html.DisplayNameFor(model => model.analysis.comments):</h4>
                @Html.EditorFor(model => model.analysis.comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.analysis.comments, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}