@model WebApplication2.Models.Diagnosis

<div id="@String.Format("DiagnosesDiv{0}", Model.ID)">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>
        
    </dl>
    <button onclick="LoadEditForm('Diagnoses', @Model.ID)">Редактировать</button>
</div>
<hr />
