
@model WebApplication2.Models.Diagnosis

<form id="@String.Format("DiagnosesEdit{0}", Model.ID)">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.type.ID)

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.type.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.comments)
            </dt>
            <dd>
                @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
            </dd>

        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a onclick="PostEditForm('Diagnoses', @Model.ID);" class="btn">Сохранить</a>
            </div>
        </div>
    </div>
    </form>
        

