@model WebApplication2.Models.Neurostatus

    <div id="@String.Format("NeurostatusDiv{0}", Model.ID)">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

    </dl>
        <button onclick="LoadEditForm('Neurostatus', @Model.ID)">Редактировать</button>
        </div>
    <hr>


