
@model WebApplication2.Models.Debut
    <div id="@String.Format("DebutsDiv{0}", Model.ID)">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.name)
        </dd>
        

        <dt>
            @Html.DisplayNameFor(model => model.month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seconds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        
        
    </dl>
        <button onclick="LoadEditForm('Debuts', @Model.ID)">Редактировать</button>
    <hr />
        </div>
