<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – ICNE EHR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>

    <script type="text/javascript">

    function initMCE() {

        tinyMCE.init({

            // General options
            mode : "specific_textareas",
            editor_selector: "mceEditor",
            setup: function (ed) {
                ed.on('init', function () {
                    this.getDoc().body.style.fontSize = '12pt';
                    this.getDoc().body.style.fontFamily = '"Helvetica Neue", Helvetica, Arial, sans-serif';
                });
            },
            height: 300,
		    plugins: [
                "advlist autolink autosave base64_image link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor fullpage textcolor colorpicker textpattern"
		    ],
            toolbar1: "base64_image",
		    toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
		    toolbar2: " | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
		    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft base64_image",

		    menubar: false,
		    toolbar_items_size: 'small',


	    });

    }

    </script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ICNE EHR", "Index", "Pacients", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("База пациентов", "Index", "Pacients")</li>
                    <li>@Html.ActionLink("Расписание", "Index", "Pacients")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Настройка <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Персонал</li>
                            <li class="">@Html.ActionLink("Врачи", "Index", "Doctors")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Словари</li>
                            <li class="">@Html.ActionLink("Поля анамнеза", "Index", "AnamnesisEventTypes")</li>
                            <li class="">@Html.ActionLink("Типы лечения", "Index", "AssigmentTypes")</li>
                            <li class="">@Html.ActionLink("Поля дебюта", "Index", "DebutTypes")</li>
                            <li class="">@Html.ActionLink("Типы диагнозов", "Index", "DiagnosisTypes")</li>
                            <li class="">@Html.ActionLink("Типы лекарств", "Index", "MedicineTypes")</li>
                            <li class="">@Html.ActionLink("Типы невростатусов", "Index", "NeuroStatusTypes")</li>
                            <li class="">@Html.ActionLink("Виды исследований", "Index", "ResearchTypes")</li>
                            <li class="">@Html.ActionLink("Виды приступов", "Index", "SyndromeTypes")</li>
                            <li class="">@Html.ActionLink("Виды анализов", "Index", "AnalysisTypes")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
    
            



                <!--<div class="container body-content">
                    RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
                    </footer>
                </div>-->
                @RenderBody()

        </div>


</body>
</html>
