<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li >@Html.ActionLink("Пациенты", "Index", "Pacients")</li>
                    <li >@Html.ActionLink("Добавить пациента", "Create", "Pacients")</li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="">@Html.ActionLink("Диагнозы", "Index", "Pacients")</li>
                    <li class="">@Html.ActionLink("Список диагнозов", "Create", "Pacients")</li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="">@Html.ActionLink("Пациенты", "Index", "Diagnoses")</li>
                    <li class="">@Html.ActionLink("Список пациентов", "Create", "Diagnoses")</li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


                <!--<div class="container body-content">
                    RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
                    </footer>
                </div>-->
                @RenderBody()
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>
</html>
