@model WebApplication2.Models.Syndrome

<form id="@String.Format("SyndromesEdit{0}", Model.ID)">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.type.ID)
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-10">
                <strong>
                    @Html.DisplayFor(model => model.type.name)
                </strong>
            </div>
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" onclick="PostEditForm('Syndromes', @Model.ID);">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="row alert alert-info" style="margin-top:10px">
            <div class="col-md-3">
                <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Продолжительность:</h4>
                <strong>
                    @Html.EditorFor(model => model.minutes, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.minutes) } })
                    @Html.EditorFor(model => model.seconds, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.seconds) } })
                </strong>
            </div>
            <div class="col-md-3">
                <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Возраст:</h4>
                <strong>
                    @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.year) } })
                    @Html.EditorFor(model => model.month, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.month) } })
                    @Html.EditorFor(model => model.week, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.week) } })
                    @Html.EditorFor(model => model.day, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.day) } })
                </strong>
            </div>
            <div class="col-md-6">
                <h4><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @Html.DisplayNameFor(model => model.comments):</h4>
                <p>@Html.EditorFor(model => model.comments)</p>
            </div>


        </div>
        
        </div>
    </form>
        