@model WebApplication2.Models.MyViewModel
@using WebApplication2.Models
@using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data", id = "FilesCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.visitID)
    @Html.HiddenFor(model => model.num)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">

        
        
            
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.File, new { @class = "form-control", id = "NewFile", type = "file" })
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <a onclick="PostFileForm('Files', @Model.num, true)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

            </div>
    </div>
    <hr>
}