@model WebApplication2.Models.newReview
@using WebApplication2.Models
@using (Html.BeginForm("Create", "Reviews", FormMethod.Post, new { id = "ReviewsCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.visitID)
    @Html.HiddenFor(model => model.num)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">

        
        
            
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.review.comments, new { @class = "form-control mceEditor", id = "NewReviewText" })
                @Html.ValidationMessageFor(model => model.review.comments, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <a onclick="PostCreateForm('Reviews', @Model.num, true)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

            </div>
    </div>
    <script>initMCE(); tinyMCE.EditorManager.execCommand('mceAddEditor', false, 'NewReviewText');</script>
    <hr>
}