@model WebApplication2.Models.Review
<form id="@String.Format("ReviewsEdit{0}", Model.ID)">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-10">
                    @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
        </div>
                <div class="col-md-2">
                    <a class="btn btn-sm btn-primary" onclick="PostEditForm('Reviews', @Model.ID, true);">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </a>
                </div>
       </div>
</form>
