@model WebApplication2.Models.Assigment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assigment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inADay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inADay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
